# Data Science Capstone Project 


## Contents

-  Introduction

-  Data

-  Methodology

-  Results and Discussion

-  Conclusion



## Introduction

Ghana is a West-African country located along the Gulf of Guinea and the Atlantic Ocean. This nation of approximately 30 million people _[1](http://worldpopulationreview.com/countries/ghana-population/)_ has been heralded as the next big tourist destination in 2019 _[2](https://edition.cnn.com/travel/article/ghana-year-of-return-tourism-intl/index.html)_. Home of the famous Ashanti Kingdom, the country has become the top-spot for tourist vacations in Africa. It gathers thousands of people to have a feel of the authentic African experience. 
<br> <br>
It is quite notable historically, for its historical landmarks such the Cape Coast Castle which played a pivotal role in the trans-Atlantic slave trade, the Elmina Castle, the Usher Fort, and the Christiansborg Castle, just to name a few. Other tourist attractions and destinations also include a vibrant tropical climate all year-round, diverse wildlife, palm-lined sandy beaches, caves, mountains, rivers and lakes such as the Lake Volta which is the largest man-made lake in the world by surface area _[3](https://en.wikipedia.org/wiki/lake\__volta)_. 
<br> <br>
For the purposes of this project, scraped web data of the top tourist attractions in Ghana per the recommendation of ‘TripSavvy’, (a travel information website) will be explored based on restaurants or food joints available to give travelers and tourists an overview of where to find the best food available in those areas using foursquare data.  The outcome or results of this project could be useful to tourists and investors alike to either know where to find the best food in a given location, or give an idea where to invest in a restaurant business.




## Data

The main data would be based on the recommendation of **TripSavvy**, a world-renowned travel information website, which would be the main pointers for the top tourist destinations in Ghana, and each of the recommended locations would be explored using the FourSquare API, to find closest food-joints or restaurants in those areas.

The data from TripSavvy will give us reliable information on the top locations to visit in Ghana, and Foursquare will be useful to show restaurants in those locations with reviews, and ratings from tourists who have visited the restaurants. The website where all the information would be taken from can be found below: https://www.tripsavvy.com/top-places-to-visit-in-ghana-1454323 (Last Date accessed 12 April 2019)

## Methodology

In this project the main center of focus is the touristic hot-spots in Ghana. The goal is to search within 2Km radius of "must-see" destinations in Ghana according to Trip-Savvy, for food-joints, pizzerias or restaurants.

The Trip-Savvy website is scraped for information and then analyzed to get the physical cooordinates on a Map. All locations are then used under the Foursquare database to explore and analyse the known restaurants and food joints where tourists can also eat whiles visiting the tourist attractions.

The folium Library will be used to visualize the various areas in Ghana

To begin with, lets take a look at the data which has already been scraped from the tripsavvy website and has been put into a pandas dataframe.

In [34]:
import pandas as pd
import xlrd

#Read the excel file that contains the tourist data

tourist_df = pd.read_excel('touristData.xlsx')
tourist_df.head()

,Tourist Activity,Tourist Attraction,Region,City,Area,Address
0,Enter the Dungeon at Cape Coast Castle,Cape Coast Castle,Central Region,Cape Coast,Victoria,"Victoria Rd, Cape Coast Ghana"
1,Ride the Waves in Kokrobite,Kokrobite Beach,Greater Accra Region,Accra,Kokrobite,"Kokrobite, Langma, Ghana"
2,Climb St. George's Castle,Elmina Castle,Central Region,Elmina,Elmina,"Elmina, Ghana"
3,Shop the Local Markets in Accra,Accra Central Market,Greater Accra Region,Accra,Accra,"Accra Central, Ghana"
4,Cross the Canopy Walkway at Kakum National Park,Kakum National Park,Central Region,Cape Coast,Gardens,"11 Garden Street, Cape Coast Ghana"

In [35]:
# Using GeoCoder and the GoogleMaps API, we will now get the latitude and Longitude of each Address of a given tourist attraction

import geocoder
Api_Key = 'AIzaSyDqUwMvHc6eheTh20Hxucs8-qF0ESNuR9I'

#function to get the latitude and longitude coordinates

def getCoordinates(address, Api_Key):
    coordinates = None
    while (coordinates is None):
        geocords = geocoder.google('{},Ghana'.format(address), key=Api_Key)
        coordinates = geocords.latlng
    return coordinates

# For each of the addresses in the dataframe, I will print out the Coordinates
for address in tourist_df['Address']:
    coords = getCoordinates(address, Api_Key)
    print(address)
    print(coords)

Victoria Rd, Cape Coast Ghana
[5.103801000000001, -1.2419144]
Kokrobite, Langma, Ghana
[5.4833172, -0.386972]
Elmina, Ghana
[5.1053378, -1.3421032]
Accra Central, Ghana
[5.3344676, -0.8178875999999999]
11 Garden Street, Cape Coast Ghana
[5.105769599999999, -1.2435104]
Mole ,Ghana
[9.5, -2]
Kumasi, Ghana
[6.6666004, -1.6162709]
Busua Beach Resort , Ghana
[4.809116, -1.9355518]

In [39]:
#Now we will add the coordinates to each corresponding address in the dataframe
new_add = tourist_df['Address']
coords1 = [getCoordinates(address, Api_Key) for address in new_add.tolist()]


df_coordinates = pd.DataFrame(coords1, columns=['Latitude', 'Longitude'])
tourist_df['Latitude'] = df_coordinates['Latitude']
tourist_df['Longitude'] = df_coordinates['Longitude']
tourist_df

#now we have the new dataframe with the Latitude and Longitude of each of the addresses below

,Tourist Activity,Tourist Attraction,Region,City,Area,Address,Latitude,Longitude
0,Enter the Dungeon at Cape Coast Castle,Cape Coast Castle,Central Region,Cape Coast,Victoria,"Victoria Rd, Cape Coast Ghana",5.103801,-1.241914
1,Ride the Waves in Kokrobite,Kokrobite Beach,Greater Accra Region,Accra,Kokrobite,"Kokrobite, Langma, Ghana",5.483317,-0.386972
2,Climb St. George's Castle,Elmina Castle,Central Region,Elmina,Elmina,"Elmina, Ghana",5.105338,-1.342103
3,Shop the Local Markets in Accra,Accra Central Market,Greater Accra Region,Accra,Accra,"Accra Central, Ghana",5.334468,-0.817888
4,Cross the Canopy Walkway at Kakum National Park,Kakum National Park,Central Region,Cape Coast,Gardens,"11 Garden Street, Cape Coast Ghana",5.105770,-1.243510
5,Go on Safari at Mole National Park,Mole National Park,Northern Region,Mole,Mole,"Mole ,Ghana",9.500000,-2.000000
6,Meet the King in Kumasi,Manhyia Palace,Ashanti Region,Kumasi,Manhyia,"Kumasi, Ghana",6.666600,-1.616271
7,Sunbathe on Busua Beach,Busua Beach Resort,Western Region,Takoradi,Busua,"Busua Beach Resort , Ghana",4.809116,-1.935552

Now for each of the listed cities below, we will use Folium to display where each of these cities is located on the map of Ghana.

In [45]:
#Lets see the Location of Ghana

from geopy.geocoders import Nominatim
import folium

address = 'Ghana'

geolocator = Nominatim(user_agent="gh_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of the country Ghana are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of the country Ghana are 8.0300284, -1.0800271.

In [52]:
# Lets create a Map of Ghana using the Latitude and Longitude values


map_ghana = folium.Map(location=[latitude, longitude], zoom_start=6)
    
map_ghana

In [136]:
#Lets now add the various cities on the Map

map_ghana = folium.Map(location=[latitude, longitude], zoom_start=6)

# add markers to map
for lat, lng, region, city in zip(tourist_df['Latitude'], tourist_df['Longitude'], tourist_df['Region'], tourist_df['City']):
    label = '{},{}'.format(str(region), str(city))
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=100,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_ghana)
    print(lat, lng, city, region)
map_ghana

5.103801000000001 -1.2419144 Cape Coast Central Region
5.4833172 -0.386972 Accra Greater Accra Region
5.1053378 -1.3421032 Elmina Central Region
5.3344676 -0.8178875999999999 Accra Greater Accra Region
5.105769599999999 -1.2435104 Cape Coast Central Region
9.5 -2.0 Mole Northern Region
6.6666004 -1.6162709 Kumasi Ashanti Region
4.809116 -1.9355518 Takoradi Western Region

In [146]:
# Now Lets Use FourSquare Data to Get the Various Restaurants in each of the areas

import requests 
from pandas.io.json import json_normalize # this transforms the json file into a dataframe


CLIENT_ID = '1ZIMWHLY1YJC2CRJ3FZK2KWNATKWU3E4SUKPHS4PFUM1TMUE' #  Foursquare ID
CLIENT_SECRET = 'GFXHBNBU5YRPIYMZJQIMPG34ZYPO3WQUFTEIK14UPD2EKF23' #  Foursquare Secret
VERSION = '20180605' # Foursquare API version

### Lets Explore the Area of Victoria in the Central Region of Ghana

In [91]:
#For Tourist Attraction Number 1 in the Dataframe

tourist_attraction_area = tourist_df.loc[0, 'Area']
tourist_attraction_latitude = tourist_df.loc[0, 'Latitude']
tourist_attraction_longitude = tourist_df.loc[0, 'Longitude']
tourist_attraction_region = tourist_df.loc[0, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area,tourist_attraction_region,tourist_attraction_latitude,tourist_attraction_longitude))

The Latitude and Longitude values of Victoria in the Central Region of Ghana are 5.103801000000001, and -1.2419144.

In [113]:
#Since we are only interested in Restaurants or any food locations for our information purposes, Lets write a function to get that only


def foodjoint_or_restaurant(categories, specific_filter=None):
    restaurant_words = ['restaurant','Vegetarian', 'food joint', 'fast food', 'taverna', 'steakhouse', 'pizza']
    restaurant = False
    specific = False
    for c in categories:
        category_name = c[0].lower()
        category_id = c[1]
        for r in restaurant_words:
            if r in category_name:
                restaurant = True
        if not(specific_filter is None) and (category_id in specific_filter):
            specific = True
            restaurant = True
    return restaurant, specific


def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [142]:
#Lets Get the venues in the Area within a radius of 2Km.
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude, 
    tourist_attraction_longitude, 
    radius, 
    LIMIT)

results1 = requests.get(url).json()
#results1




venues = results1['response']['groups'][0]['items']
nearby_venues = json_normalize(venues)
#print (nearby_venues)

#filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues = nearby_venues.loc[:, filtered_columns]

nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Victoria_df = pd.DataFrame(nearby_venues)
number_of_venues = nearby_venues_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Victoria Area'.format(number_of_venues))

From the Fromsquare data obtained, there are 7 venues within 2Km of the Victoria Area

In [143]:
#We can see the Dataframe with the available Venues
nearby_venues_Victoria_df

,name,categories,lat,lng
0,Cape Coast Castle,Tourist Information Center,5.103289,-1.241306
1,Oasis Beach Resort,Resort,5.103258,-1.243880
2,Cape Coast Castle Restaurant,African Restaurant,5.103471,-1.241924
3,Baobab Vegetarian Bar,Vegetarian / Vegan Restaurant,5.105170,-1.241181
4,Ford Station,Bus Station,5.103724,-1.250152
5,Humble Beginnings Ent.,Bookstore,5.114220,-1.243490
6,Siwdo Stadium,Park,5.111122,-1.256391

only 2 are of interest to us since they are restaurants so we can drop those rows from the dataframe

In [145]:
dropped_Victoria_df = nearby_venues_Victoria_df.drop([0,1,4,5,6], axis=0)
dropped_Victoria_df

,name,categories,lat,lng
2,Cape Coast Castle Restaurant,African Restaurant,5.103471,-1.241924
3,Baobab Vegetarian Bar,Vegetarian / Vegan Restaurant,5.105170,-1.241181

### Lets do the same for the next tourist attraction in the city of Accra, Area Kokrobite.

In [154]:
#For Tourist Attraction Number 2 in the Dataframe

tourist_attraction_area1 = tourist_df.loc[1, 'Area']
tourist_attraction_latitude1 = tourist_df.loc[1, 'Latitude']
tourist_attraction_longitude1 = tourist_df.loc[1, 'Longitude']
tourist_attraction_region1 = tourist_df.loc[1, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area1,tourist_attraction_region1,tourist_attraction_latitude1,tourist_attraction_longitude1))

The Latitude and Longitude values of Kokrobite in the Greater Accra Region of Ghana are 5.4833172, and -0.386972.

In [174]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude1, 
    tourist_attraction_longitude1, 
    radius, 
    LIMIT)

results_1 = requests.get(url).json()


venues1 = results_1['response']['groups'][0]['items']
nearby_venues1 = json_normalize(venues1)
#print(nearby_venues1)

#filter columns
filtered_columns1 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues1 = nearby_venues1.loc[:, filtered_columns1]
#print (nearby_venues1)

nearby_venues1['venue.categories'] = nearby_venues1.apply(get_category_type, axis=1)

nearby_venues1.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Kokrobite_df = pd.DataFrame(nearby_venues1)
number_of_venues1 = nearby_venues_Kokrobite_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Kokrobite Area'.format(number_of_venues1))

From the Fromsquare data obtained, there are 6 venues within 2Km of the Kokrobite Area

In [175]:
nearby_venues_Kokrobite_df

                         name categories       lat       lng
0               sankofa beach      Beach  5.482823 -0.387264
1               mile 16 beach      Beach  5.483747 -0.384581
2    Sandpiper's Beach Resort      Beach  5.487642 -0.396050
3  La Fleur Ghana Beach Lodge      Hotel  5.479113 -0.397466
4         Aglow Farms Limited       Farm  5.500262 -0.381597
5                    Hood Gym        Gym  5.500456 -0.381933

From the dataframe above, there are no restaurants or categories with food within a 2Km radius of the Kokrobite Area.

 ### Lets See Check the next on the list which is Elmina in the Central Region

In [176]:
#For Tourist Attraction Number 3 in the Dataframe

tourist_attraction_area2 = tourist_df.loc[2, 'Area']
tourist_attraction_latitude2 = tourist_df.loc[2, 'Latitude']
tourist_attraction_longitude2 = tourist_df.loc[2, 'Longitude']
tourist_attraction_region2 = tourist_df.loc[2, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area2,tourist_attraction_region2,tourist_attraction_latitude2,tourist_attraction_longitude2))

The Latitude and Longitude values of Elmina in the Central Region of Ghana are 5.1053378, and -1.3421032.

In [182]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude2, 
    tourist_attraction_longitude2, 
    radius, 
    LIMIT)

results_2 = requests.get(url).json()


venues2 = results_2['response']['groups'][0]['items']
nearby_venues2 = json_normalize(venues2)
#print(nearby_venues2)

#filter columns
filtered_columns2 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues2 = nearby_venues2.loc[:, filtered_columns2]
#print (nearby_venues2)

nearby_venues2['venue.categories'] = nearby_venues2.apply(get_category_type, axis=1)

nearby_venues2.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Elmina_df = pd.DataFrame(nearby_venues2)
number_of_venues2 = nearby_venues_Elmina_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Kokrobite Area'.format(number_of_venues2))

From the Fromsquare data obtained, there are 4 venues within 2Km of the Kokrobite Area

In [183]:
nearby_venues_Elmina_df

                             name  categories       lat       lng
0  Elmina Beach Resort Cape Coast       Hotel  5.093694 -1.337096
1                     Nest Hostel      Hostel  5.099237 -1.346941
2          Almond Tree Guesthouse       Hotel  5.094649 -1.335995
3                        Stopaids  Food Court  5.089210 -1.347511

In [185]:
# As we can see above, only one venue is listed as a food court so we can drop the rest
dropped_Elmina_df = nearby_venues_Elmina_df.drop([0,1,2], axis=0)
dropped_Elmina_df

       name  categories      lat       lng
3  Stopaids  Food Court  5.08921 -1.347511

### The busy Market Area of Accra Central is next

In [186]:
#For Tourist Attraction Number 3 in the Dataframe

tourist_attraction_area3 = tourist_df.loc[3, 'Area']
tourist_attraction_latitude3 = tourist_df.loc[3, 'Latitude']
tourist_attraction_longitude3 = tourist_df.loc[3, 'Longitude']
tourist_attraction_region3 = tourist_df.loc[3, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area3,tourist_attraction_region3,tourist_attraction_latitude3,tourist_attraction_longitude3))

The Latitude and Longitude values of Accra in the Greater Accra Region of Ghana are 5.3344676, and -0.8178875999999999.

In [188]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude3, 
    tourist_attraction_longitude3, 
    radius, 
    LIMIT)

results_3 = requests.get(url).json()


venues3 = results_3['response']['groups'][0]['items']
nearby_venues3 = json_normalize(venues3)
#print(nearby_venues3)

#filter columns
filtered_columns3 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues3 = nearby_venues3.loc[:, filtered_columns3]
#print (nearby_venues3)

nearby_venues3['venue.categories'] = nearby_venues3.apply(get_category_type, axis=1)

nearby_venues3.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Accra_Central_df = pd.DataFrame(nearby_venues3)
number_of_venues3 = nearby_venues_Accra_Central_df.shape[0]

print('From the Fromsquare data obtained, there is {} venue within 2Km of the Accra Central Area'.format(number_of_venues3))

From the Fromsquare data obtained, there is 1 venue within 2Km of the Accra Central Area

In [189]:
nearby_venues_Accra_Central_df

          name categories       lat       lng
0  Windy Lodge      Hotel  5.325463 -0.809304

The above dataframe shows 1 venue recorded in Foursquare data and it does not fall under the food or restaurant category

### The Gardens area which hosts the famous Canopy Walk at the Kakum National Park is next to be explored

In [190]:
#For Tourist Attraction Number 4 in the Dataframe

tourist_attraction_area4 = tourist_df.loc[4, 'Area']
tourist_attraction_latitude4 = tourist_df.loc[4, 'Latitude']
tourist_attraction_longitude4 = tourist_df.loc[4, 'Longitude']
tourist_attraction_region4 = tourist_df.loc[4, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area4,tourist_attraction_region4,tourist_attraction_latitude4,tourist_attraction_longitude4))

The Latitude and Longitude values of Gardens in the Central Region of Ghana are 5.105769599999999, and -1.2435104.

In [215]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude4, 
    tourist_attraction_longitude4, 
    radius, 
    LIMIT)

results_4 = requests.get(url).json()


venues4 = results_4['response']['groups'][0]['items']
nearby_venues4 = json_normalize(venues4)


#filter columns
filtered_columns4 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues4 = nearby_venues4.loc[:, filtered_columns4]


nearby_venues4['venue.categories'] = nearby_venues4.apply(get_category_type, axis=1)

nearby_venues4.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Gardens_df = pd.DataFrame(nearby_venues4)
number_of_venues4 = nearby_venues_Gardens_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Gardens Area'.format(number_of_venues4))

From the Fromsquare data obtained, there are 6 venues within 2Km of the Gardens Area

In [211]:
nearby_venues_Gardens_df

,name,categories,lat,lng
0,Cape Coast Castle,Tourist Information Center,5.103289,-1.241306
1,Oasis Beach Resort,Resort,5.103258,-1.243880
2,Cape Coast Castle Restaurant,African Restaurant,5.103471,-1.241924
3,Baobab Vegetarian Bar,Vegetarian / Vegan Restaurant,5.105170,-1.241181
4,Ford Station,Bus Station,5.103724,-1.250152
5,Humble Beginnings Ent.,Bookstore,5.114220,-1.243490

From the above, it looks like there is an overlap between the Victoria Area and Gardens Area.
We will then drop all other rows and keep the two most relevant

In [212]:
dropped_Gardens_df = nearby_venues_Gardens_df.drop([0,1,4,5], axis=0)
dropped_Gardens_df

,name,categories,lat,lng
2,Cape Coast Castle Restaurant,African Restaurant,5.103471,-1.241924
3,Baobab Vegetarian Bar,Vegetarian / Vegan Restaurant,5.105170,-1.241181

### The Famous Mole Park in the Northern Region of Ghana is next to be explored

In [219]:
#For Tourist Attraction Number 3 in the Dataframe

tourist_attraction_area5 = tourist_df.loc[5, 'Area']
tourist_attraction_latitude5 = tourist_df.loc[5, 'Latitude']
tourist_attraction_longitude5 = tourist_df.loc[5, 'Longitude']
tourist_attraction_region5 = tourist_df.loc[5, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area5,tourist_attraction_region5,tourist_attraction_latitude5,tourist_attraction_longitude5))

The Latitude and Longitude values of Mole in the Northern Region of Ghana are 9.5, and -2.0.

In [225]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude5, 
    tourist_attraction_longitude5, 
    radius, 
    LIMIT)

results_5 = requests.get(url).json()


venues5 = results_5['response']['groups'][0]['items']
nearby_venues5 = json_normalize(venues5)
print (nearby_venues5)



print('From the Fromsquare data obtained, there are no venues within 2Km of the Mole National Park Area')

Empty DataFrame
Columns: []
Index: []
From the Fromsquare data obtained, there are no venues within 2Km of the Mole National Park Area

### The Manhyia Palace in the Ashanti Region of Ghana is next to be explored

In [230]:
#For Tourist Attraction Number 5 in the Dataframe

tourist_attraction_area6 = tourist_df.loc[6, 'Area']
tourist_attraction_latitude6 = tourist_df.loc[6, 'Latitude']
tourist_attraction_longitude6 = tourist_df.loc[6, 'Longitude']
tourist_attraction_region6 = tourist_df.loc[6, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area6,tourist_attraction_region6,tourist_attraction_latitude6,tourist_attraction_longitude6))

The Latitude and Longitude values of Manhyia in the Ashanti Region of Ghana are 6.6666004, and -1.6162709.

In [231]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude6, 
    tourist_attraction_longitude6, 
    radius, 
    LIMIT)

results_6 = requests.get(url).json()


venues6 = results_6['response']['groups'][0]['items']
nearby_venues6 = json_normalize(venues6)


#filter columns
filtered_columns6 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues6 = nearby_venues6.loc[:, filtered_columns6]


nearby_venues6['venue.categories'] = nearby_venues6.apply(get_category_type, axis=1)

nearby_venues6.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Manhyia_df = pd.DataFrame(nearby_venues6)
number_of_venues6 = nearby_venues_Manhyia_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Manhyia Area'.format(number_of_venues6))

From the Fromsquare data obtained, there are 26 venues within 2Km of the Gardens Area

In [232]:
nearby_venues_Manhyia_df

,name,categories,lat,lng
0,+2 Pub and Kitchen,Bar,6.669149,-1.624086
1,Royal Park Hotel & Chinese Restaurant,Chinese Restaurant,6.669465,-1.617249
2,Kumasi City Mall,Shopping Plaza,6.673336,-1.607189
3,Moti Mahal,Indian Restaurant,6.668466,-1.606622
4,Coca Cola Bottling Company,Brewery,6.663373,-1.602003
5,Golden bean hotel,Hotel,6.673121,-1.618519
6,Vienna City,Nightclub,6.678212,-1.621889
7,Big Daddy's,Fast Food Restaurant,6.667857,-1.606333
8,Noble House Chinese and Indian Restaurant,Chinese Restaurant,6.670509,-1.616401
9,Piri Piri Fast Food,American Restaurant,6.666199,-1.617170
10,Aphrodisiac Kumasi,Nightclub,6.669668,-1.626670
11,Bar Naas,Pizza Place,6.669174,-1.621448
12,Royal Park Rest.,Chinese Restaurant,6.664637,-1.617799
13,Melcom,Shopping Mall,6.661215,-1.612791
14,Bonne Arrivee,Fast Food Restaurant,6.659854,-1.620642
15,Kiravi Restaurant,Chinese Restaurant,6.674080,-1.620301
16,Arby's,Fast Food Restaurant,6.657312,-1.618818
17,Kwaegyir Bookshop,Bookstore,6.675818,-1.621084
18,Royal Lamerta Hotel,Hotel Bar,6.656263,-1.621862
19,McKeown Restaurant,African Restaurant,6.672516,-1.604495
20,Royal Golf Club Of Kumasi,Golf Course,6.676855,-1.624964
21,Sir Max Hotel,Hotel Bar,6.654397,-1.620364
22,Palestra Fitness Center,Gym,6.653251,-1.609611
23,Noks Hotel Limited,Hotel Bar,6.674889,-1.603604
24,Sweet Garden Hotel,Hotel,6.671439,-1.630725
25,Chopsticks,Chinese Restaurant,6.651460,-1.620459

In [234]:
#Out of the 26 venues 12 of the locations fall under restaurant / Food / Pizza Category
#The rest can be dropped.

dropped_Manhyia_df = nearby_venues_Manhyia_df.drop([0,2,4,5,6,10,13,17,18,20,21,22,23,24], axis=0)
dropped_Manhyia_df

,name,categories,lat,lng
1,Royal Park Hotel & Chinese Restaurant,Chinese Restaurant,6.669465,-1.617249
3,Moti Mahal,Indian Restaurant,6.668466,-1.606622
7,Big Daddy's,Fast Food Restaurant,6.667857,-1.606333
8,Noble House Chinese and Indian Restaurant,Chinese Restaurant,6.670509,-1.616401
9,Piri Piri Fast Food,American Restaurant,6.666199,-1.617170
11,Bar Naas,Pizza Place,6.669174,-1.621448
12,Royal Park Rest.,Chinese Restaurant,6.664637,-1.617799
14,Bonne Arrivee,Fast Food Restaurant,6.659854,-1.620642
15,Kiravi Restaurant,Chinese Restaurant,6.674080,-1.620301
16,Arby's,Fast Food Restaurant,6.657312,-1.618818
19,McKeown Restaurant,African Restaurant,6.672516,-1.604495
25,Chopsticks,Chinese Restaurant,6.651460,-1.620459

### The Busia Beach Area is the last to be explored

In [235]:
tourist_attraction_area7 = tourist_df.loc[7, 'Area']
tourist_attraction_latitude7 = tourist_df.loc[7, 'Latitude']
tourist_attraction_longitude7 = tourist_df.loc[7, 'Longitude']
tourist_attraction_region7 = tourist_df.loc[7, 'Region']

print ('The Latitude and Longitude values of {} in the {} of Ghana are {}, and {}.'.format(tourist_attraction_area7,tourist_attraction_region7,tourist_attraction_latitude7,tourist_attraction_longitude7))

The Latitude and Longitude values of Busua in the Western Region of Ghana are 4.809116, and -1.9355518.

In [236]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tourist_attraction_latitude7, 
    tourist_attraction_longitude7, 
    radius, 
    LIMIT)

results_7 = requests.get(url).json()


venues7 = results_7['response']['groups'][0]['items']
nearby_venues7 = json_normalize(venues7)


#filter columns
filtered_columns7 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']


nearby_venues7 = nearby_venues7.loc[:, filtered_columns7]


nearby_venues7['venue.categories'] = nearby_venues7.apply(get_category_type, axis=1)

nearby_venues7.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues_Busia_df = pd.DataFrame(nearby_venues7)
number_of_venues7 = nearby_venues_Busia_df.shape[0]

print('From the Fromsquare data obtained, there are {} venues within 2Km of the Busia Area'.format(number_of_venues7))

From the Fromsquare data obtained, there are 9 venues within 2Km of the Manhyia Area

In [237]:
nearby_venues_Busia_df

                         name          categories       lat       lng
0          Busua Beach Resort              Resort  4.808829 -1.935713
1              Africa Rainbow           Roof Deck  4.808149 -1.936344
2  Golden Beach Hotel (Busua)              Resort  4.809071 -1.935265
3        ALASKA HOTEL (BUSUA)               Hotel  4.807466 -1.937370
4      Okorye Tree Restaurant  African Restaurant  4.807033 -1.937882
5        Black Star Surf Shop           Surf Spot  4.806610 -1.938229
6                  Busua Inn.              Resort  4.806239 -1.938649
7                    By grace                 Bar  4.805287 -1.940143
8              Scorpion Lodge              Resort  4.803884 -1.939205

In [239]:
#Out of the 9 venues 1 of the locations fall under restaurant / Food / Pizza Category
#The rest can be dropped.

dropped_Busia_df = nearby_venues_Busia_df.drop([0,1,2,3,5,6,7,8], axis=0)
dropped_Busia_df

                     name          categories       lat       lng
4  Okorye Tree Restaurant  African Restaurant  4.807033 -1.937882

## Results and Discussion

From the results, we observed the following:

    For each of the areas explored and analyzed there seems to be only a few areas that had available data on restaurants or food joints. With the exception to the Manhyia area in the Ashanti Region, all other areas had a few number of options for food. The worst case scenario was the Mole area in the Northern Region. In a 2Km radius, there was no data on restaurants within the area.

    Also, in the Accra Central area, there was some overlapping information on the available restaurants and food joints as compared to the Kokrobite area also in Accra. A 2Km radius is arguably a decent distance for food locations and restaurants especially for such high touristic activities.
    
    Moreover, the results gathered from foursquare could also be inadequate. This may also lead to questioning the user activity that goes on foursquare for the region of Ghana or even Africa. It is therefore possible that users are not very active and the source of data might be skewed to show such poor user-activities at the tourist attractions in Ghana.
    
    A further analysis could be carried out using other data sources from google for example to compare the outcomes.

## Conclusion

The main purpose for this project was to use recommendation data from Trip-Savvy on the best places to visit in Ghana, as a point to explore possible areas for food-joints or restaurants for tourists visiting Ghana.

Foursquare data was to be used to explore the different regions, cities and areas according to the recommendation data. 

The results show a plausible starting point for tourists but may not cover the entire picture since the data retrieved from the Foursquare database is in some areas very scarce.